<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/af96e869-9a91-4807-b827-c0d10a27482f/resourceGroups/RG_GET_CONNECT_DEV/providers/Microsoft.Web/sites/getconnection</ResourceId>
    <ResourceGroup>RG_GET_CONNECT_DEV</ResourceGroup>
    <ApiResourceId>/subscriptions/af96e869-9a91-4807-b827-c0d10a27482f/resourceGroups/RG_GET_CONNECT_DEV/providers/Microsoft.ApiManagement/service/GetConnectionApi/apis/GetConnectionApi</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://getconnection.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ProjectGuid>07262cac-4213-42df-9666-24643b155270</ProjectGuid>
    <PublishUrl>https://getconnection.scm.azurewebsites.net/</PublishUrl>
    <UserName>$getconnection</UserName>
    <_SavePWD>True</_SavePWD>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>